$bg-color: #000000;
$header-color: #111111b2;
$header-size: 1.2rem;
$hover-color: orangered;
$text-color: #ffffff;

body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // height: 100vh;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: "Cormorant SC", serif;
  // overflow-x: hidden;
  // overflow-y: hidden;
}

.card__content {
  display: flex;
  height: 80px;
  justify-content: space-around;
  gap: 0rem;
  align-items: center;
  flex: 1 100%;
}

@media (min-width: 460px) {
  .card__content {
    // justify-content: space-between;
  }

  .logo {
    padding-left: 2rem;
  }
}

@media (max-width: 460px) {
  .card__content {
    // background-color: $header-color;
    // width: 504px;
  }
}

@media (min-width: 460px) {
  .card__content {
    background-color: $bg-color;
  }
}

.logo {
  list-style: none;
  color: $text-color;
  margin-right: 6rem;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0, 2s ease 0s;
}

.logo:hover {
  color: $hover-color;
}

@media (max-width: 455px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

@media (max-width: 445px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

@media (max-width: 435px) {
  .logo {
    font-size: 1rem;
    margin-left: -3rem;
  }
}

@media (max-width: 425px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

@media (max-width: 415px) {
  .logo {
    font-size: 1rem;
    margin-left: -10rem;
  }
}

@media (max-width: 395px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

@media (max-width: 385px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

@media (max-width: 375px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

@media (max-width: 360px) {
  .logo {
    font-size: 1rem;
    margin-left: -4rem;
  }
}

.menu__icon {
  color: $text-color;
  margin-left: -10rem;
  text-decoration: none;
  // display: none;

  .bx-customize {
    margin-left: 10rem;
  }
}

//    TABLETS MENU ICON STYLING

@media (min-width: 460px) {
  .menu__icon {
    margin-right: 0.2rem;
    text-decoration: none;
    display: none;
  }
}

//    MOBILE MENU ICON STYLING

@media (max-width: 460px) {
  .menu__icon {
    position: relative;
    left: 8.6rem;
  }
}

@media (max-width: 455px) {
  .menu__icon {
    position: relative;
    left: 7.6rem;
  }
}

@media (max-width: 445px) {
  .menu__icon {
    position: relative;
    left: 6.6rem;
  }
}

@media (max-width: 435px) {
  .menu__icon {
    position: relative;
    left: 5.8rem;
  }
}

@media (max-width: 425px) {
  .menu__icon {
    position: relative;
    left: 4.6rem;
  }
}

@media (max-width: 415px) {
  .menu__icon {
    position: relative;
    left: 4.7rem;
  }
}

@media (max-width: 395px) {
  .menu__icon {
    position: relative;
    left: 3.4rem;
  }
}

@media (max-width: 385px) {
  .menu__icon {
    position: relative;
    left: 2.4rem;
  }
}

@media (max-width: 375px) {
  .menu__icon {
    position: relative;
    left: 2.4rem;
  }
}

@media (max-width: 360px) {
  .menu__icon {
    position: relative;
    left: 1.4rem;
    width: 200%;
  }
}

@media (max-width: 320px) {
  .menu__icon {
    position: relative;
    left: -1rem;

    .bx-customize {
      margin-left: 10rem;
    }
  }
}

@media (max-width: 1629px) {
  .card__list {
    display: flex;
    list-style-type: none;
    color: $text-color;
    font-size: $header-size;
    margin-right: 1rem;
    margin-left: 46rem;
    text-decoration: none;
    gap: 2rem;
    overflow-x: hidden;
  }
}

@media (min-width: 460px) {
  .card__list {
    display: flex;
    list-style-type: none;
    color: $text-color;
    font-size: $header-size;
    text-decoration: none;
    gap: 2rem;
  }

  li {
    transition: all 0, 2s ease 0s;
  }

  li:hover {
    color: $hover-color;
  }
}

@media (max-width: 460px) {
  .card__list {
    // display: none;
    font-size: 0;
  }
}

@media (max-width: 460px) {
  .card__list {
    display: none;
  }
}

.wrapper {
  width: 366px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  text-align: left;
  gap: 0;
  margin: 2.7rem 0.9rem;
  font-size: 1.9rem;
}
.wrapper__pgraph {
  margin-top: -1.1rem;
  font-size: 1.6rem;
}

// @media (max-width: 460px) {
// }

// @media (max-width: 455px) {
// }

// @media (max-width: 445px) {
// }

// @media (max-width: 435px) {
// }

@media (max-width: 425px) {
  .wrapper__pgraph {
    width: 344px;
    font-size: 1.8rem;
  }
}

@media (max-width: 415px) {
  .wrapper__pgraph {
    width: 344px;
    font-size: 1.8rem;
  }
}

@media (max-width: 395px) {
  .wrapper__pgraph {
    width: 344px;
    font-size: 1.8rem;
  }
}

@media (max-width: 385px) {
  .wrapper__pgraph {
    width: 344px;
    font-size: 1.8rem;
  }
}

@media (max-width: 375px) {
  .wrapper__pgraph {
    width: 338px;
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .wrapper__pgraph {
    width: 319px;
    font-size: 1.7rem;
  }
}

@media (max-width: 320px) {
  .wrapper__pgraph {
    width: 290px;
    font-size: 1.7rem;
  }
}

@media (max-width: 460px) {
}

@media (max-width: 455px) {
}

@media (max-width: 445px) {
}

@media (max-width: 435px) {
  // .wrapper {
  //   width: 566px;
  //   font-size: 2.7rem;
  // }
}

@media (max-width: 425px) {
  .wrapper {
    width: 366px;
    font-size: 2.7rem;
  }
}

@media (max-width: 415px) {
  .wrapper {
    width: 366px;
    font-size: 2.6rem;
  }
}

@media (max-width: 395px) {
  .wrapper {
    width: 366px;
    font-size: 2.4rem;
  }
}

@media (max-width: 385px) {
  .wrapper {
    width: 366px;
    font-size: 2.2rem;
  }
}

@media (max-width: 375px) {
  .wrapper {
    width: 366px;
    font-size: 2.4rem;
  }
}

@media (max-width: 360px) {
  .wrapper {
    width: 366px;
    font-size: 2.2rem;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 260px;
    font-size: 1.9rem;
  }
}

@media (min-width: 460px) {
  .wrapper {
    display: flex;
    width: 798px;
    height: 270px;
    font-size: 43px;
    padding: 0rem 1.9rem;
    line-height: 5rem;
    margin-top: 2rem;
  }

  .wrapper__pgraph {
    width: 313px;
    height: 224px;
    padding-top: 5rem;
    padding-left: 27rem;
    line-height: 2.6rem;
  }
}

.flex__images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;
}

.first__image img {
  object-fit: cover;
  object-position: 100% 30%;
  width: 366px;
  height: 490px;
  margin-top: -2.4rem;
  padding: 0rem 1.7rem;
  filter: brightness(50%);
}
// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .first__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 380px;
    padding: 0rem 1.2rem;
  }
}

@media (max-width: 415px) {
  .first__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 366px;
    padding: 0rem 1.2rem;
  }
}

@media (max-width: 395px) {
  .first__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 344px;
    padding: 0rem 1.2rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .first__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 329px;
    padding: 0rem 1.2rem;
  }
}

@media (max-width: 360px) {
  .first__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    padding: 0rem 1.2rem;
  }
}

@media (max-width: 320px) {
  .first__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 270px;
    padding: 0rem 1.3rem;
  }
}

@media (min-width: 460px) {
  .first__image img {
    position: relative;
    top: -19rem;
    width: 546px;
    height: 945px;
    margin-left: 51rem;
    filter: brightness(50%);
  }
}

.second__image img {
  object-fit: cover;
  object-position: 80% 40%;
  padding: 7rem 1.9rem;
  width: 366px;
  height: 255px;
  margin-top: -1.3rem;
  filter: brightness(60%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .second__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 380px;
    height: 215px;
    padding-left: 1.5rem;
    position: relative;
    top: -0.1rem;
  }
}

@media (max-width: 415px) {
  .second__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 366px;
    height: 215px;
    padding-left: 1.5rem;
    position: relative;
    top: -0.1rem;
  }
}

@media (max-width: 395px) {
  .second__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 344px;
    height: 215px;
    padding-left: 1.5rem;
    position: relative;
    top: -0.1rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .second__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 329px;
    height: 215px;
    padding-left: 1.5rem;
    position: relative;
    top: -0.1rem;
  }
}

@media (max-width: 360px) {
  .second__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    height: 215px;
    padding-left: 1.5rem;
    position: relative;
    top: -0.1rem;
  }
}

@media (max-width: 320px) {
  .second__image img {
    object-fit: cover;
    object-position: 80% 40%;
    width: 270px;
    height: 230px;
    padding: 0rem 1.6rem;
    margin-top: 5.6rem;
  }
}

@media (min-width: 460px) {
  .second__image img {
    width: 467px;
    height: 255px;
    position: relative;
    top: -55rem;
    left: -3rem;
  }
}

.third__image img {
  object-fit: cover;
  padding: 12.4rem 2.3rem;
  width: 366px;
  height: 255px;
  filter: brightness(50%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .third__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 380px;
    height: 215px;
    padding-left: 1.5rem;
  }
}

@media (max-width: 415px) {
  .third__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 366px;
    height: 215px;
    padding-left: 1.5rem;
  }
}

@media (max-width: 395px) {
  .third__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 344px;
    height: 215px;
    padding-left: 1.5rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .third__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 329px;
    height: 215px;
    padding-left: 1.5rem;
  }
}

@media (max-width: 360px) {
  .third__image img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    height: 215px;
    padding-left: 1.5rem;
  }
}

@media (max-width: 320px) {
  .third__image img {
    object-fit: cover;
    object-position: 50% 10%;
    width: 270px;
    height: 230px;
    margin-top: 7rem;
    padding-left: 1.6rem;
  }
}

@media (min-width: 460px) {
  .third__image img {
    width: 467px;
    height: 255px;
    position: relative;
    top: -55rem;
    left: -3rem;
  }
}

.first__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 8rem;
  gap: 8px;
  width: 242px;
  height: 121px;
  margin-top: -12rem;
  white-space: nowrap;

  .card__pgraph {
    display: flex;
    position: relative;
    left: -9.5rem;
    top: -2.4rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

// @media (max-width: 460px) {

// @media (max-width: 455px) {

// @media (max-width: 445px) {

// @media (max-width: 435px) {

@media (max-width: 425px) {
  .first__text {
    display: flex;
    position: relative;
    left: -2rem;
    top: 3.4rem;
  }
  .first__text h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0.4rem;
  }
}

@media (max-width: 415px) {
  .first__text {
    display: flex;
    position: relative;
    left: -2rem;
    top: 3.4rem;
  }
  .first__text h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0.4rem;
  }
}

@media (max-width: 395px) {
  .first__text {
    display: flex;
    position: relative;
    left: -2rem;
    top: 3.4rem;
  }

  .first__text h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0.1rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .first__text {
    display: flex;
    position: relative;
    left: -2rem;
    top: 3.4rem;
  }

  .first__text h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0.1rem;
  }
}

@media (max-width: 360px) {
  .first__text {
    display: flex;
    position: relative;
    left: -2rem;
    top: 3.5rem;
  }

  .first__text h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0.1rem;
  }
}

@media (max-width: 320px) {
  .first__text {
    display: flex;
    position: relative;
    left: -2rem;
    top: 3.5rem;
  }

  .first__text h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.4rem;
  }
}

@media (min-width: 460px) {
  .first__text {
    display: flex;
    position: relative;
    left: 50rem;
    top: -18.4rem;
  }

  .first__text h2 {
    position: relative;
    left: -6.5rem;
    font-size: 1.4rem;
  }
}

.first__text h2 {
  z-index: 1;
  font-size: 1.3rem;
}

.card__texttwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 242px;
  height: 121px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 1rem;
  margin: -13rem 6.9rem;
  white-space: nowrap;

  .card__pgraphtwo {
    display: flex;
    position: relative;
    left: -8.1rem;
    top: -2.4rem;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
}
// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .card__texttwo {
    display: flex;
    position: relative;
    left: -2rem;
    top: 0.4rem;
  }

  .card__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -3.7rem;
    top: -0.4rem;
  }
}

@media (max-width: 415px) {
  .card__texttwo {
    display: flex;
    position: relative;
    left: -2rem;
    top: 0.4rem;
  }

  .card__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -3.7rem;
    top: -0.4rem;
  }
}

@media (max-width: 395px) {
  .card__texttwo {
    display: flex;
    position: relative;
    left: -2rem;
    top: 0.6rem;
  }

  .card__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -3.7rem;
    top: -0.1rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .card__texttwo {
    display: flex;
    position: relative;
    left: -2rem;
    top: 0.6rem;
  }

  .card__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -3.7rem;
    top: -0.1rem;
  }
}

@media (max-width: 360px) {
  .card__texttwo {
    display: flex;
    position: relative;
    left: -2rem;
    top: 0.6rem;
  }

  .card__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -3.7rem;
    top: -0.1rem;
  }
}

@media (max-width: 320px) {
  .card__texttwo {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 7.5rem;
  }

  .card__texttwo h2 {
    position: relative;
    left: -3.6rem;
    top: -0.2rem;
  }
}

@media (min-width: 460px) {
  .card__texttwo {
    display: flex;
    position: relative;
    // left: 50rem;
    top: -55rem;
    left: -2rem;
  }

  .card__texttwo h2 {
    position: relative;
    left: -3.5rem;
    font-size: 1.4rem;
  }
}

.card__texttwo h2 {
  z-index: 1;
  font-size: 1.4rem;
}

.card__textthree {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 242px;
  height: 121px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 1.2rem;
  padding: 0rem 2rem 0rem 7rem;
  margin-top: -18rem;
  z-index: 1;
  white-space: nowrap;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .card__textthree {
    display: flex;
    position: relative;
    left: -2.3rem;
    top: 0.4rem;
  }
  .card__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.3rem;
    top: -0.4rem;
  }
}

@media (max-width: 415px) {
  .card__textthree {
    display: flex;
    position: relative;
    left: -2.3rem;
    top: 0.4rem;
  }
  .card__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.3rem;
    top: -0.4rem;
  }
}

@media (max-width: 395px) {
  .card__textthree {
    display: flex;
    position: relative;
    left: -2.3rem;
    top: 0.4rem;
  }
  .card__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.3rem;
    top: -0.1rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .card__textthree {
    display: flex;
    position: relative;
    left: -2.3rem;
    top: 0.4rem;
  }
  .card__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.3rem;
    top: -0.1rem;
  }
}

@media (max-width: 360px) {
  .card__textthree {
    display: flex;
    position: relative;
    left: -2.3rem;
    top: 0.4rem;
  }

  .card__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.3rem;
    top: -0.1rem;
  }
}

@media (max-width: 320px) {
  .card__textthree {
    display: flex;
    position: relative;
    left: -2.2rem;
    top: 0.5rem;
  }

  .card__textthree h2 {
    position: relative;
    left: -3.4rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 460px) {
  .card__textthree {
    display: flex;
    position: relative;
    top: -55rem;
    left: -2rem;
  }
}

.card__textthree h2 {
  z-index: 1;
}

.card__pgraphthree {
  display: flex;
  position: relative;
  left: -7.8rem;
  top: -2.4rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
}

.card__recent h2 {
  width: 239px;
  padding: 20px 24px 24px 34px;
  height: 78px;
  font-size: 2.5rem;
  margin-left: 0.3rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .card__recent h2 {
    width: 239px;
    padding-left: 1.2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 415px) {
  .card__recent h2 {
    width: 239px;
    padding-left: 1.2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 395px) {
  .card__recent h2 {
    width: 239px;
    padding-left: 1.2rem;
    margin-top: 1rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .card__recent h2 {
    width: 239px;
    padding-left: 1.2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 360px) {
  .card__recent h2 {
    width: 239px;
    padding-left: 1.2rem;
  }
}

@media (max-width: 320px) {
  .card__recent h2 {
    width: 270px;
    // height: 78px;
    padding-left: 1.3rem;
  }
}

@media (min-width: 460px) {
  .card__recent h2 {
    margin-top: -50rem;
    height: 90px;
    margin-left: 39rem;
    white-space: nowrap;
    font-size: 4rem;
  }
}

.card__images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;
}

.recent__imageone img {
  object-fit: cover;
  object-position: 100% 10%;
  width: 430px;
  height: 540px;
  margin-top: 1rem;
  padding: 0rem 2rem;
  filter: brightness(50%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .recent__imageone img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 380px;
    padding: 0rem 1.2rem;
    margin-top: -0rem;
  }
}

@media (max-width: 415px) {
  .recent__imageone img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 366px;
    padding: 0rem 1.2rem;
    margin-top: -0rem;
  }
}

@media (max-width: 395px) {
  .recent__imageone img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 344px;
    padding: 0rem 1.2rem;
    margin-top: -0rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .recent__imageone img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 327px;
    padding: 0rem 1.2rem;
    margin-top: -0rem;
  }
}

@media (max-width: 360px) {
  .recent__imageone img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    padding: 0rem 1.2rem;
  }
}

@media (max-width: 320px) {
  .recent__imageone img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 270px;
    padding: 0rem 1.3rem;
  }
}

@media (min-width: 460px) {
  .card__images {
    display: flex;
    flex-wrap: wrap;
  }

  .recent__imageone img {
    position: absolute;
    width: 596px;
    height: 945px;
    top: 62.5rem;
    left: -5rem;
    object-position: 20%;
  }
}

.recent__imagetwo img {
  object-fit: cover;
  object-position: 10% 20%;
  width: 430px;
  height: 265px;
  margin-top: 5.7rem;
  margin-left: -0.1rem;
  filter: brightness(60%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .recent__imagetwo img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 380px;
    margin-left: -5rem;
  }
}

@media (max-width: 415px) {
  .recent__imagetwo img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 366px;
    margin-left: -5.8rem;
  }
}

@media (max-width: 395px) {
  .recent__imagetwo img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 344px;
    margin-left: -6.8rem;
  }
}

// @media (max-width: 385px) {

// }
@media (max-width: 375px) {
  .recent__imagetwo img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 327px;
    margin-left: -6.8rem;
  }
}

@media (max-width: 360px) {
  .recent__imagetwo img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    height: 265px;
    margin-left: -6.8rem;
  }
}

@media (max-width: 320px) {
  .recent__imagetwo img {
    object-fit: cover;
    object-position: 80% 30%;
    width: 270px;
    height: 252px;
    margin-top: 5.4rem;
    margin-left: -6.7rem;
  }
}

@media (min-width: 460px) {
  .recent__imagetwo img {
    position: relative;
    top: -6.7rem;
    left: 28rem;
    width: 460px;
    height: 255px;
    object-fit: cover;
  }
}

.recent__textone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 8rem;
  gap: 8px;
  width: 242px;
  height: 121px;
  margin-top: -12rem;
  white-space: nowrap;

  .recent__pgraphone {
    display: flex;
    position: relative;
    left: -10.4rem;
    top: -2.4rem;
    line-height: 1.5rem;
  }
}

.recent__textone h2 {
  z-index: 1;
  font-size: 2rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .recent__textone {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 3.5rem;
  }
  .recent__textone h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.5rem;
  }
}

@media (max-width: 415px) {
  .recent__textone {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 3.5rem;
  }
  .recent__textone h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.5rem;
  }
}

@media (max-width: 395px) {
  .recent__textone {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 3.5rem;
  }
  .recent__textone h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.5rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .recent__textone {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 3.5rem;
  }

  .recent__textone h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.5rem;
  }
}

@media (max-width: 360px) {
  .recent__textone {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 3.5rem;
  }

  .recent__textone h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.5rem;
  }
}

@media (max-width: 320px) {
  .recent__textone {
    display: flex;
    position: relative;
    left: -1.8rem;
    top: 3.6rem;
  }

  .recent__textone h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.1rem;
    top: -0.3rem;
  }
}

@media (min-width: 460px) {
  .recent__textone {
    display: flex;
    position: relative;
    top: 43rem;
    left: -32rem;
    z-index: 1;
  }

  .recent__textone h2 {
    position: relative;
    left: -5.2rem;
    top: -0.4rem;
    font-size: 1.4rem;
  }

  .recent__pgraphone {
    font-size: 1rem;
  }
}

.recent__texttwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 242px;
  height: 121px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 1rem;

  .recent__pgraphtwo {
    display: flex;
    position: relative;
    left: -4.6rem;
    top: -9rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.recent__texttwo h2 {
  z-index: 1;
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 8rem -5rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

@media (max-width: 425px) {
  .recent__texttwo {
    display: flex;
    position: relative;
    left: -5.5rem;
    top: 1.3rem;
  }

  .recent__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 415px) {
  .recent__texttwo {
    display: flex;
    position: relative;
    left: -5.5rem;
    top: 1.3rem;
  }

  .recent__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 395px) {
  .recent__texttwo {
    display: flex;
    position: relative;
    left: -7rem;
    top: 1.3rem;
  }

  .recent__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .recent__texttwo {
    display: flex;
    position: relative;
    left: -7rem;
    top: 1.3rem;
  }

  .recent__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 360px) {
  .recent__texttwo {
    display: flex;
    position: relative;
    left: -7rem;
    top: 1.3rem;
  }

  .recent__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 320px) {
  .recent__texttwo {
    display: flex;
    position: relative;
    left: -6.8rem;
    top: 1.4rem;
  }

  .recent__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.2rem;
    top: -0rem;
  }
}

@media (min-width: 460px) {
  .recent__texttwo {
    position: relative;
    top: -6rem;
    left: 29rem;
    z-index: 1;
  }

  .recent__texttwo h2 {
    z-index: 1;
    display: flex;
    position: relative;
    left: -5.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.recent__textthree {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 242px;
  height: 121px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 1rem;

  .recent__pgraphthree {
    display: flex;
    position: relative;
    left: -4.6rem;
    top: -9rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.recent__textthree h2 {
  z-index: 1;
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 8rem -5rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .recent__textthree {
    display: flex;
    position: relative;
    left: -5.4rem;
    top: 1.3rem;
  }

  .recent__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 395px) {
  .recent__textthree {
    display: flex;
    position: relative;
    left: -6.9rem;
    top: 1.3rem;
  }

  .recent__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .recent__textthree {
    display: flex;
    position: relative;
    left: -6.9rem;
    top: 1.3rem;
  }

  .recent__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 360px) {
  .recent__textthree {
    display: flex;
    position: relative;
    left: -7rem;
    top: 1.3rem;
  }

  .recent__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6rem;
    top: -0rem;
  }
}

@media (max-width: 320px) {
  .recent__textthree {
    display: flex;
    position: relative;
    left: -6.6rem;
    top: 1.5rem;
  }

  .recent__textthree h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -6.2rem;
    top: -0rem;
  }
}

@media (min-width: 460px) {
  .recent__textthree {
    position: relative;
    top: -13rem;
    left: 5rem;
  }

  .recent__textthree h2 {
    position: relative;
    left: -4.9rem;
    // top: -9rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.recent__textfour {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  width: 242px;
  height: 121px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 1rem;
  z-index: 1;

  .recent__pgraphfour {
    display: flex;
    position: relative;
    left: -2.4rem;
    top: -9rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.recent__textfour h2 {
  position: relative;
  left: 1rem;
  top: -7rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .recent__textfour {
    display: flex;
    position: relative;
    left: -7.4rem;
    top: 1.3rem;
  }

  .recent__textfour h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
  }
}

@media (max-width: 395px) {
  .recent__textfour {
    display: flex;
    position: relative;
    left: -9rem;
    top: 1.3rem;
  }

  .recent__textfour h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .recent__textfour {
    display: flex;
    position: relative;
    left: -9rem;
    top: 1.3rem;
  }

  .recent__textfour h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    // left: -6rem;
    // top: -0.1rem;
  }
}

@media (max-width: 360px) {
  .recent__textfour {
    display: flex;
    position: relative;
    left: -9rem;
    top: 1.3rem;
  }

  .recent__textfour h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    // left: -6rem;
    // top: -0.1rem;
  }
}

@media (max-width: 320px) {
  .recent__textfour {
    display: flex;
    position: relative;
    left: -9rem;
    top: 1.5rem;
  }

  .recent__textfour h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    // left: -6.2rem;
    // top: -0rem;
  }
}

@media (min-width: 460px) {
  .recent__textfour {
    position: relative;
    top: 1rem;
    left: 35rem;
  }

  .recent__textfour h2 {
    position: relative;
    left: 2rem;
    top: -7rem;
  }
}

.recent__imagethree img {
  object-fit: cover;
  object-position: 60% 20%;
  width: 430px;
  height: 265px;
  // padding: 0rem 2rem;
  margin-top: -6.6rem;
  margin-left: -0rem;
  filter: brightness(60%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .recent__imagethree img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 366px;
    margin-left: -5.9rem;
  }
}

@media (max-width: 395px) {
  .recent__imagethree img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 344px;
    margin-left: -6.8rem;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .recent__imagethree img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 327px;
    margin-left: -6.8rem;
  }
}

@media (max-width: 360px) {
  .recent__imagethree img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    height: 265px;
    margin-left: -6.8rem;
    // padding-left: 1.5rem;
  }
}

@media (max-width: 320px) {
  .recent__imagethree img {
    object-fit: cover;
    object-position: 80% 30%;
    width: 270px;
    height: 252px;
    // margin-top: 7rem;
    margin-left: -6.7rem;
    // padding-left: 1.7rem;
  }
}

@media (min-width: 460px) {
  .recent__imagethree img {
    width: 352px;
    height: 255px;
    margin-top: -30.2rem;
    margin-left: 4rem;
  }
}

.recent__imagefour img {
  object-fit: cover;
  object-position: 100% 52%;
  width: 430px;
  height: 265px;
  margin-top: -6.5rem;
  margin-left: -0rem;
  filter: brightness(70%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .recent__imagefour img {
    object-fit: cover;
    object-position: 10% 50%;
    height: 265px;
    width: 366px;
    margin-left: -5.9rem;
  }
}

@media (max-width: 395px) {
  .recent__imagefour img {
    object-fit: cover;
    object-position: 10% 50%;
    height: 265px;
    width: 344px;
    margin-left: -6.8rem;
  }
}

// @media (max-width: 385px) {
// }

@media (max-width: 375px) {
  .recent__imagefour img {
    object-fit: cover;
    object-position: 10% 50%;
    height: 265px;
    width: 327px;
    margin-left: -6.8rem;
  }
}

@media (max-width: 360px) {
  .recent__imagefour img {
    object-fit: cover;
    object-position: 40% 50%;
    width: 315px;
    height: 265px;
    margin-left: -6.8rem;
    // padding-left: 1.5rem;
  }
}

@media (max-width: 320px) {
  .recent__imagefour img {
    object-fit: cover;
    object-position: 40% 50%;
    width: 270px;
    height: 252px;
    // margin-top: 7rem;
    margin-left: -6.7rem;
    // padding-left: 1.7rem;
  }
}

@media (min-width: 460px) {
  .recent__imagefour img {
    object-fit: cover;
    position: relative;
    object-position: 100% 52%;
    width: 852px;
    height: 407px;
    margin-top: -21rem;
    margin-left: 35rem;
  }
}

.card__interview h2 {
  width: 239px;
  // padding: em 24px 24px 64px;
  height: 78px;
  font-size: 2.5rem;
  margin-left: 1.5rem;
  margin-top: -3rem;
  padding: 1rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .card__interview h2 {
    width: 239px;
    margin-left: 0.4rem;
    margin-top: -4rem;
  }
}

@media (max-width: 395px) {
  .card__interview h2 {
    width: 239px;
    margin-left: 0.4rem;
    margin-top: -4rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .card__interview h2 {
    width: 239px;
    margin-left: 0.4rem;
    margin-top: -4rem;
  }
}

@media (max-width: 360px) {
  .card__interview h2 {
    width: 239px;
    margin-left: 0.4rem;
    margin-top: -4rem;
  }
}

@media (max-width: 320px) {
  .card__interview h2 {
    width: 270px;
    // height: 78px;
    margin-left: 0.7rem;
    margin-top: -4rem;
  }
}

@media (min-width: 460px) {
  .card__interview h2 {
    display: flex;
    flex-direction: row;
    width: 706px;
    height: 90px;
    position: relative;
    top: -1rem;
    font-weight: 400;
    font-size: 4.5rem;
    // margin-top: 10rem;
    margin-left: 6rem;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  // gap: 1rem;
  justify-content: center;
  // margin-left: 1rem;
  margin-top: 6rem;
}

@media (max-width: 320px) {
  .grid {
    margin-top: 6rem;
    // margin-top: -3rem;
    // margin-left: 1.1rem;
  }
}

@media (min-width: 460px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: -8rem;
    margin-left: 1rem;
  }
}

.grid__images img {
  object-fit: cover;
  object-position: 60% 10%;
  width: 365px;
  height: 303px;
  padding: 0rem 0.4rem;
  margin-top: -6.4rem;
  filter: brightness(70%);
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .grid__images img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 366px;
  }
}

@media (max-width: 395px) {
  .grid__images img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 344px;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .grid__images img {
    object-fit: cover;
    object-position: 40% 30%;
    height: 265px;
    width: 330px;
  }
}

@media (max-width: 360px) {
  .grid__images img {
    object-fit: cover;
    object-position: 40% 30%;
    width: 315px;
    height: 265px;
    // margin-left: -6.8rem;
    // padding-left: 1.5rem;
  }
}

@media (max-width: 320px) {
  .grid__images img {
    width: 270px;
    height: 230px;
    margin-left: 0.3rem;
  }
}

@media (min-width: 460px) {
  .grid__images img {
    width: 303px;
    height: 303px;
  }
}

.grid__texttwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 242px;
  height: 121px;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .grid__texttwo {
    display: flex;
    position: relative;
    left: -3rem;
    top: 1.3rem;
  }
}

@media (max-width: 395px) {
  .grid__texttwo {
    display: flex;
    position: relative;
    left: -3rem;
    top: 1.3rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .grid__texttwo {
    display: flex;
    position: relative;
    left: -3rem;
    top: 1.3rem;
  }
}

@media (max-width: 360px) {
  .grid__texttwo {
    display: flex;
    position: relative;
    left: -3rem;
    top: 1.3rem;
  }
}

@media (max-width: 320px) {
  .grid__texttwo {
    display: flex;
    position: relative;
    left: -2.8rem;
    top: 1.6rem;
  }
}

@media (min-width: 460px) {
  .grid__texttwo {
    position: relative;
    top: 1rem;
    left: -2rem;
  }
}

.grid__texttwo h2 {
  z-index: 1;
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 9rem -7rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .grid__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.6rem;
    top: 0.6rem;
  }
}

@media (max-width: 395px) {
  .grid__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.6rem;
    top: 0.5rem;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .grid__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.6rem;
    top: 0.5rem;
  }
}

@media (max-width: 360px) {
  .grid__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.3rem;
    top: 0.5rem;
  }
}

@media (max-width: 320px) {
  .grid__texttwo h2 {
    z-index: 1;
    font-size: 1.3rem;
    position: relative;
    left: -4.4rem;
    top: 0.5rem;
  }
}

@media (min-width: 460px) {
  .grid__texttwo h2 {
    font-size: 1.3rem;
    margin: 9rem -2.7rem;
  }
}

.grid__pgraphtwo {
  display: flex;
  position: relative;
  left: -1rem;
  top: -9rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
@media (min-width: 460px) {
  .grid__pgraphtwo {
    position: relative;
    left: -0rem;
    font-size: 1.2rem;
  }
}

.footer__main {
  display: flex;
  flex-direction: column;
}

.footer__one {
  width: 300px;
  height: 76px;
  // background-color: $header-color;
  display: flex;
  // white-space: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 0rem 1.3rem;
  font-size: 1.4rem;

  // .bxs-heart-circle {
  //   font-size: 3rem;
  // }
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .footer__one {
    width: 280px;
    height: 75px;
    // padding-left: 1.9rem;
    margin-top: -2rem;
    // margin-top: -10rem;
  }
}

@media (max-width: 395px) {
  .footer__one {
    width: 280px;
    height: 75px;
    // padding-left: 1.9rem;
    margin-top: -2rem;
    // margin-top: -10rem;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .footer__one {
    width: 280px;
    height: 75px;
    // padding-left: 1.9rem;
    margin-top: -2rem;
    // margin-top: -10rem;
  }
}

@media (max-width: 360px) {
  .footer__one {
    width: 280px;
    height: 75px;
    padding-left: 1.9rem;
    margin-top: -1rem;
    // margin-top: -10rem;
  }
}

@media (max-width: 320px) {
  .footer__one {
    width: 280px;
    height: 75px;
    padding-left: 1.8rem;
    margin-top: -1.6rem;
    // margin-top: -10rem;
  }
}

.footer__two {
  width: 366px;
  // height: 75px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 0rem 1.3rem;
}

.footer__pgraph {
  font-size: 1.3rem;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .footer__two {
    width: 300px;
    margin-top: -2rem;
  }
}

@media (max-width: 395px) {
  .footer__two {
    width: 300px;
    margin-top: -2rem;
  }

  .footer__pgraph {
    // font-size: 1.2rem;
    padding-left: 0.2rem;
    margin-top: 1rem;
  }
}

// @media (max-width: 385px) {}

@media (max-width: 375px) {
  .footer__two {
    width: 300px;
    margin-top: -2rem;
  }

  .footer__pgraph {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    // margin-top: 1rem;
  }
}

@media (max-width: 360px) {
  .footer__two {
    width: 300px;
    margin-top: -1rem;
  }

  .footer__pgraph {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    // margin-top: 0rem;
  }
}

@media (max-width: 320px) {
  .footer__two {
    width: 280px;
    margin-top: -1rem;
  }

  .footer__pgraph {
    font-size: 1.1rem;
    padding-left: 0rem;
    // margin-top: -0rem;
  }
}

.footer__info {
  display: flex;
  align-items: flex-end;
  // background-color: $header-color;
  // width: 477px;
  height: 100px;
  white-space: nowrap;
  font-size: 0.7rem;
  padding: 0rem 0px 0rem 1.7rem;
}

.bxs-heart-circle {
  position: relative;
  top: -2.3rem;
  left: 12rem;
  font-size: 3rem;
}

.footer__info h2 {
  font-size: 0.6rem;
}

@media (max-width: 415px) {
  .bxs-heart-circle {
    position: relative;
    top: -1.8rem;
    left: 9rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 395px) {
  .bxs-heart-circle {
    position: relative;
    top: -1.8rem;
    left: 9rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 375px) {
  .bxs-heart-circle {
    position: relative;
    top: -1.8rem;
    left: 8rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 360px) {
  .bxs-heart-circle {
    position: relative;
    top: -1.8rem;
    left: 7.4rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  .bxs-heart-circle {
    position: relative;
    top: -1.8rem;
    left: 7.4rem;
    font-size: 2.5rem;
  }
}

.footer__info h2 {
  // margin-left: -3rem;
  // margin-left: -2rem;
  // font-size: 16px;
}

// @media (max-width: 460px) {

// }

// @media (max-width: 455px) {

// }

// @media (max-width: 445px) {

// }

// @media (max-width: 435px) {

// }

// @media (max-width: 425px) {

// }

@media (max-width: 415px) {
  .footer__info {
    width: 366px;
    height: 60px;
    font-size: 8.6px;
    padding-left: 3rem;
  }
}

@media (max-width: 395px) {
  .footer__info {
    width: 366px;
    height: 60px;
    font-size: 8.6px;
    padding-left: 2.5rem;
  }
}

// @media (max-width: 385px) {

// }

@media (max-width: 375px) {
  .footer__info {
    width: 350px;
    height: 60px;
    font-size: 8.5px;
    padding-left: 2.3rem;
  }
}

@media (max-width: 360px) {
  .footer__info {
    width: 350px;
    height: 70px;
    font-size: 7.5px;
    padding-left: 2.3rem;
  }
}

@media (max-width: 320px) {
  .footer__info {
    width: 480px;
    height: 70px;
    font-size: 7px;
    padding-left: 1.6rem;
  }
}
